{
  "token": "###########################################################",
  "clientId": "##################",
  "clientSecret": "################################",
  "guildId": "##################",
  "supabaseUrl": "https://####################.supabase.co",
  "supabaseKey": "##########################################################################################",
  "table": "##################",
  "twitchTable": "##################",
  "ytTable": "##################",
  "ytToken": "#######################################",
  "ytChannelId": "UC######################",
  "ablyKey": "##############################",
  "allowChannel": "##################",
  "announceChannel": "##################",
  "callbackUrl": "http#://########:####/######",
  "fliprate": {0 - 100},
  "flipthreshold": {any positive int}
}
